<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="RAGE Player Assist"
    Manufacturer="SebzIO"
    Version="__PRODUCT_VERSION__"
    UpgradeCode="68D3BA55-3A5B-4055-B403-C6B6A4DA5F6A"
    Scope="perMachine"
    Language="1033"
    InstallerVersion="500">

    <SummaryInformation Description="RAGE Player Assist installer" Manufacturer="SebzIO" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of RAGE Player Assist is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="RAGE Player Assist" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="RAGE Player Assist" />
    </StandardDirectory>

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Feature Id="MainFeature" Title="RAGE Player Assist" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Package>
</Wix>
